<style>
        p {
            font-family: Arial, sans-serif;
            font-weight: bold;
            color:blue
        }
        h1 {
            font-weight: bold;
            color: red;
        }
        h2 {
            font-family: Arial, sans-serif;
        }
    </style>